
@media only screen and (width: 731px) and (orientation: landscape)   {


    #coeur {
      width: 27%;
      height: 40px;
      margin-left: -425px;
      padding-top: 0px;
      margin-top: 105px;
    }
    #dog {
      width: 35%;
      height: 40px;
    
      padding-top: 0px;
      margin-top: 170px;
      margin-left: -425px;
    }
    
  
  
  }
    /* puces PHONE 5s PAYSAGE*/
  @media only screen and (width: 568px) and (orientation: landscape)   {
  
  
    #filtre {
      font-size: 20px;
  
      background-color: white;
    }
  
    #filtre i {
      padding: 12px;
    }
  
    #mon {
      width: 32%;
      height: 40px;
      margin-top: 40px;
      margin-left: -100px;
      padding-top: 0px;
     
    }
  
    #fam {
      width: 24%;
      height: 40px;
      margin-top: -45px;
      margin-left: 215px;
      padding-top: 0px;
    }
  
    #coeur {
      width: 30%;
      height: 40px;
      margin-left: 20px;
      padding-top: 0px;
      margin-top: 10px;
    }
    #dog {
      width: 40%;
      height: 40px;
      margin-left: -215px;
      padding-top: 0px;
      margin-top: 65px;
    }
    
  
  
  }
  /* puces PHONE 6/7/8 PAYSAGE*/
  @media only screen and (width: 667px)  and (orientation: landscape) {
  
    #coeur {
      margin-left: -390px;
    }
    #dog {
      margin-left: -390px;
    }
  
  }
  /*puces PHONE 6/7/8 plus PAYSAGE*/
  @media only screen and (width: 736px)  and (orientation: landscape) {
  
    #coeur {
      margin-left: -425px;
    }
    #dog {
      margin-left: -425px;
    }
  
  }
  /* puces PHONE X PAYSAGE*/
  @media only screen and (width: 812px)  and (orientation: landscape) {
  
    #coeur {
      margin-left: -460px;
    }
    #dog {
      margin-left: -460px;
    }
  
  }
  /* puces surface duo portrait*/
  @media only screen and (width: 540px)  and (orientation: portrait) {
  
    #filtre {
      font-size: 20px;
  
      background-color: white;
    }
  
    #filtre i {
      padding: 12px;
    }
  
    #mon {
      width: 33%;
      height: 40px;
      margin-top: 40px;
      margin-left: -100px;
      padding-top: 0px;
     
    }
  
    #fam {
      width: 24%;
      height: 40px;
      margin-top: -45px;
      margin-left: 215px;
      padding-top: 0px;
    }
  
    #coeur {
      width: 32%;
      height: 40px;
      margin-left: 20px;
      padding-top: 0px;
      margin-top: 10px;
    }
    #dog {
      width: 43%;
      height: 40px;
      margin-left: -215px;
      padding-top: 0px;
      margin-top: 65px;
    }
  
    nav .inscrire {
      font-size: 17px;
      grid-column: 1/3;
      grid-row: 1;
      margin-top: -75px;
      margin-left: 250px;
      border-top: 0px;
      font-weight: bold;
      font-family: "relaway", sans-serif;
    }
    nav .he {
      font-weight: bold;
      font-family: "Raleway", sans-serif;
      font-size: 17px;
      margin-top: 65px;
      grid-column: 1/3;
      grid-row: 2;
      margin-left: -180px;
     
    }
    .activi :visited {
      color: black;
      border-bottom: 4px solid #f2f2f2;
      padding-bottom: 15px;
      padding-left: 46px;
      padding-right: 65px;
    }
  
    .activi a {
      color: black;
      border-bottom: 4px solid #f2f2f2;
      padding-bottom: 15px;
      padding-left: 100px;
      padding-right: 110px;
      
      margin-left: 0px;
  
   
    }
  
    
    .activi :hover {
      color: #0065fc;
      border-bottom: 4px solid #0065fc;
      padding-bottom: 15px;
     border-top: 0px;
      padding-bottom: 15px;
      padding-left: 100px;
      padding-right: 110px;
      margin-left: 0px;
    }
  
    .activi :active {
      color: #0065fc;
      border-bottom: 4px solid #0065fc;
      padding-bottom: 15px;
     
    }
    
  
    .he :visited {
      color: black;
      border-bottom: 4px solid #f2f2f2;
      padding-bottom: 15px;
      padding-left: 46px;
      padding-right: 65px;
    }
  
    .he a {
      color: black;
      border-bottom: 4px solid #f2f2f2;
      padding-bottom: 15px;
      padding-left: 80px;
      padding-right:80px;
      margin-left: 0px;
    }
  
    .he :hover {
      border-bottom: 4px solid #0065fc;
      padding-bottom: 15px;
     color: #0065fc;
      padding-bottom: 15px;
      padding-left: 80px;
      padding-right:70px;
   border-top: 0px;
    }
  
    .he :active {
      color: #0065fc;
      border-bottom: 4px solid #0065fc;
      padding-bottom: 15px;
     
      padding-bottom: 15px;
      padding-left: 35px;
      padding-right: 60px;
  
    }
  
    nav .activi {
      font-size: 17px;
      grid-column: 1/3;
      grid-row: 2;
      margin-left: 90px;
      margin-top: -20px;
    }
  
    
  
  }
  
  /* puces surface duo paysage*/
  @media only screen and (width: 720px)  and (orientation: landscape) {
  
    #filtre {
      font-size: 20px;
  
      background-color: white;
    }
  
    #filtre i {
      padding: 12px;
    }
  
    #mon {
      width: 25%;
      
     
    }
  
    #fam {
      width: 18%;
      
    }
  
    #coeur {
      width: 24%;
      height: 40px;
      margin-left: -365px;
      padding-top: 0px;
      margin-top: 95px;
    }
    #dog {
      width: 32%;
      height: 40px;
      margin-left: -365px;
      padding-top: 0px;
      margin-top: 150px;
    }
    
  
  }
  /* puces galaxy fold portrait*/
  @media only screen and (width: 280px)  and (orientation: portrait) {
  
  .grid-recherches1 {
  
    
    width: 110%;
  }
  
  
    #filtre {
      font-size: 20px;
  
      background-color: white;
    }
  
    #filtre i {
      padding: 12px;
    }
  
    #mon {
      width: 55%;
      
     
    }
  
    #fam {
      width: 40%;
      
    }
  
    #coeur {
      width: 60%;
      height: 40px;
      margin-left: -365px;
      padding-top: 0px;
      margin-top: 10px;
    }
    #dog {
      width: 70%;
      height: 40px;
      margin-left: -365px;
      padding-top: 0px;
      margin-top: 66px;
    }
    .grid-populaire{
  
      width: 120%;
    }
   
    .pop-class {
      width: 100%;
    }
   
    }
  /* puces Pixel 2 portrait / ajustement barre activité*/
  
    @media only screen and (width: 411px)  and (orientation: portrait) {
  
      .grid-recherches1 {
      
        
        width: 100%;
      }
      
      
        #filtre {
          font-size: 20px;
      
          background-color: white;
        }
      
        #filtre i {
          padding: 12px;
        }
      
        #mon {
          width: 43%;
          margin-right: 30px;
         
        }
      
        #fam {
          width: 32%;
          
        }
      
        #coeur {
          width: 41%;
          height: 40px;
          margin-left: -370px;
          padding-top: 0px;
          margin-top: 10px;
        }
        #dog {
          width: 55%;
          height: 40px;
          margin-left: -370px;
          padding-top: 0px;
          margin-top: 66px;
        }
        .grid-populaire{
      
          width: 92%;
        }
        .grid-hebergement{
  
  margin-left: -15px;
        }
      
        .pop-class {
          width: 100%;
        }
       
       .grid-footer {
        width: 98%;
  
       }
  
  
       .activi :visited {
        color: black;
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 15px;
        padding-left: 46px;
        padding-right: 65px;
      }
    
      .activi a {
        color: black;
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 15px;
        padding-left: 46px;
        padding-right: 100px;
      }
    
      .activi :hover {
        color: #0065fc;
        border-bottom: 4px solid #0065fc;
        padding-bottom: 15px;
       border-top: 0px;
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 100px
      }
    
      .activi :active {
        color: #0065fc;
        border-bottom: 4px solid #0065fc;
        padding-bottom: 15px;
       
      }
      
    
      .he :visited {
        color: black;
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 15px;
        padding-left: 46px;
        padding-right: 65px;
      }
    
      .he a {
        color: black;
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 55px;
      }
    
      .he :hover {
        border-bottom: 4px solid #0065fc;
        padding-bottom: 15px;
       color: #0065fc;
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 35px;
     border-top: 0px;
      }
    
      .he :active {
        color: #0065fc;
        border-bottom: 4px solid #0065fc;
        padding-bottom: 15px;
       
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 60px;
    
      }
        }
  
  
  /*ajustement barre activité Pixel 2  / PAYSAGE */
  
    @media only screen and (width: 731px)  and (orientation: landscape) {
  
      
  
       .activi :visited {
        color: black;
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 15px;
        padding-left: 46px;
        padding-right: 65px;
      }
    
      .activi a {
        color: black;
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 15px;
        padding-left: 110px;
        padding-right: 150px;
        margin-left: -140px;
     
  
     
      }
    
      
      .activi :hover {
        color: #0065fc;
        border-bottom: 4px solid #0065fc;
        padding-bottom: 15px;
       border-top: 0px;
        padding-bottom: 15px;
        padding-left: 110px;
        padding-right: 150px;
      }
    
      .activi :active {
        color: #0065fc;
        border-bottom: 4px solid #0065fc;
        padding-bottom: 15px;
       
      }
      
    
      .he :visited {
        color: black;
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 15px;
        padding-left: 46px;
        padding-right: 65px;
      }
    
      .he a {
        color: black;
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 15px;
        padding-left: 140px;
        padding-right:100px;
        margin-left: -140px;
      }
    
      .he :hover {
        border-bottom: 4px solid #0065fc;
        padding-bottom: 15px;
       color: #0065fc;
        padding-bottom: 15px;
        padding-left: 140px;
        padding-right:100px;
     border-top: 0px;
      }
    
      .he :active {
        color: #0065fc;
        border-bottom: 4px solid #0065fc;
        padding-bottom: 15px;
       
        padding-bottom: 15px;
        padding-left: 35px;
        padding-right: 60px;
    
      }
        }
  
        /*ajustement barre activité galaxy S5 / MOTO G4 / PAYSAGE */
  
    @media only screen and (width: 640px)  and (orientation: landscape) {
  
      
  
      .activi :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .activi a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 100px;
       padding-right: 100px;
       margin-left: 0px;
   
  
    
     }
   
     
     .activi :hover {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      border-top: 0px;
       padding-bottom: 15px;
       padding-left: 100px;
       padding-right: 100px;
     }
   
     .activi :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
     }
     
   
     .he :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .he a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 100px;
       padding-right:50px;
       margin-left: 0px;
     
     }
     nav .he {
       margin-left: -180px;
     }
   
     .he :hover {
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      color: #0065fc;
       padding-bottom: 15px;
       padding-left: 100px;
       padding-right:50px;
    border-top: 0px;
     }
   
     .he :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
       padding-bottom: 15px;
       padding-left: 35px;
       padding-right: 60px;
   
     }
  
     nav .activi {
      
      margin-top: 60px;
      margin-left: -30px;
    }
       }
  
   /*ajustement barre activité iphon 5S / PAYSAGE */
  
       @media only screen and (width: 568px)  and (orientation: landscape) {
  
      
  
        .activi :visited {
         color: black;
         border-bottom: 4px solid #f2f2f2;
         padding-bottom: 15px;
         padding-left: 46px;
         padding-right: 65px;
       }
     
       .activi a {
         color: black;
         border-bottom: 4px solid #f2f2f2;
         padding-bottom: 15px;
         padding-left: 120px;
         padding-right: 110px;
         margin-left: -110px;
     
    
      
       }
     
       
       .activi :hover {
         color: #0065fc;
         border-bottom: 4px solid #0065fc;
         padding-bottom: 15px;
        border-top: 0px;
         padding-bottom: 15px;
         padding-left: 120px;
         padding-right: 110px;
       }
     
       .activi :active {
         color: #0065fc;
         border-bottom: 4px solid #0065fc;
         padding-bottom: 15px;
        
       }
       
     
       .he :visited {
         color: black;
         border-bottom: 4px solid #f2f2f2;
         padding-bottom: 15px;
         padding-left: 46px;
         padding-right: 65px;
       }
     
       .he a {
         color: black;
         border-bottom: 4px solid #f2f2f2;
         padding-bottom: 15px;
         padding-left: 80px;
         padding-right:80px;
         margin-left: -140px;
       }
     
       .he :hover {
         border-bottom: 4px solid #0065fc;
         padding-bottom: 15px;
        color: #0065fc;
         padding-bottom: 15px;
         padding-left: 80px;
         padding-right:80px;
      border-top: 0px;
       }
     
       .he :active {
         color: #0065fc;
         border-bottom: 4px solid #0065fc;
         padding-bottom: 15px;
        
         padding-bottom: 15px;
         padding-left: 35px;
         padding-right: 60px;
     
       }
       nav .activi {
  
        margin-left: 85px;
       }
  .section-hebergement {
    width: 110%;
  }
  
  
  
       .grid-footer {
  
        width: 110%;
       }
         }
  
    /*ajustement barre activité IPHONE 6/7/8   / PAYSAGE */
  
    @media only screen and (width: 667px)  and (orientation: landscape) {
  
      
  
      .activi :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .activi a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 113px;
       padding-right: 110px;
       margin-left: -100px;
   
  
    
     }
   
     
     .activi :hover {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      border-top: 0px;
       padding-bottom: 15px;
       padding-left: 113px;
       padding-right: 110px;
     }
   
     .activi :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
     }
     
   
     .he :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .he a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 80px;
       padding-right:80px;
       margin-left: -120px;
     }
   
     .he :hover {
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      color: #0065fc;
       padding-bottom: 15px;
       padding-left: 80px;
       padding-right:80px;
    border-top: 0px;
     }
   
     .he :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
       padding-bottom: 15px;
       padding-left: 35px;
       padding-right: 60px;
   
     }
     nav .activi {
  
      margin-left: 75px;
     }
       }
  
       /*ajustement barre activité IPHONE 6/7/8 and plus / PAYSAGE */
  
    @media only screen and (width: 736px)  and (orientation: landscape) {
  
      
  
      .activi :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .activi a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 113px;
       padding-right: 110px;
       margin-left: -100px;
   
  
    
     }
   
     
     .activi :hover {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      border-top: 0px;
       padding-bottom: 15px;
       padding-left: 113px;
       padding-right: 110px;
     }
   
     .activi :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
     }
     
   
     .he :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .he a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 80px;
       padding-right:80px;
       margin-left: -120px;
     }
   
     .he :hover {
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      color: #0065fc;
       padding-bottom: 15px;
       padding-left: 80px;
       padding-right:80px;
    border-top: 0px;
     }
   
     .he :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
       padding-bottom: 15px;
       padding-left: 35px;
       padding-right: 60px;
   
     }
  
     nav .activi {
  
      margin-left: 75px;
     }
       }
  /*ajustement barre activité IPHONE x + / PAYSAGE */
  
       @media only screen and (width: 812px)  and (orientation: landscape) {
  
      
  
        .activi :visited {
         color: black;
         border-bottom: 4px solid #f2f2f2;
         padding-bottom: 15px;
         padding-left: 46px;
         padding-right: 65px;
       }
     
       .activi a {
         color: black;
         border-bottom: 4px solid #f2f2f2;
         padding-bottom: 15px;
         padding-left: 113px;
         padding-right: 110px;
         margin-left: -100px;
     
    
      
       }
     
       
       .activi :hover {
         color: #0065fc;
         border-bottom: 4px solid #0065fc;
         padding-bottom: 15px;
        border-top: 0px;
         padding-bottom: 15px;
         padding-left: 113px;
         padding-right: 110px;
       }
     
       .activi :active {
         color: #0065fc;
         border-bottom: 4px solid #0065fc;
         padding-bottom: 15px;
        
       }
       
     
       .he :visited {
         color: black;
         border-bottom: 4px solid #f2f2f2;
         padding-bottom: 15px;
         padding-left: 46px;
         padding-right: 65px;
       }
     
       .he a {
         color: black;
         border-bottom: 4px solid #f2f2f2;
         padding-bottom: 15px;
         padding-left: 80px;
         padding-right:80px;
         margin-left: -120px;
       }
     
       .he :hover {
         border-bottom: 4px solid #0065fc;
         padding-bottom: 15px;
        color: #0065fc;
         padding-bottom: 15px;
         padding-left: 80px;
         padding-right:80px;
      border-top: 0px;
       }
     
       .he :active {
         color: #0065fc;
         border-bottom: 4px solid #0065fc;
         padding-bottom: 15px;
        
         padding-bottom: 15px;
         padding-left: 35px;
         padding-right: 60px;
     
       }
       nav .activi {
  
        margin-left: 75px;
       }
  
       .section-hebergement {
         width: 80%;
       }
  
   
  
      .grid-footer {
        width: 80%;
      }
         }
  
  
          /*ajustement barre activité surface duo / PAYSAGE */
  
    @media only screen and (width: 720px)  and (orientation: landscape) {
  
      
  
      .activi :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .activi a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 113px;
       padding-right: 110px;
       margin-left: -100px;
   
  
    
     }
   
     
     .activi :hover {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      border-top: 0px;
       padding-bottom: 15px;
       padding-left: 113px;
       padding-right: 110px;
     }
   
     .activi :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
     }
     
   
     .he :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .he a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 80px;
       padding-right:80px;
       margin-left: -120px;
     }
   
     .he :hover {
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      color: #0065fc;
       padding-bottom: 15px;
       padding-left: 80px;
       padding-right:80px;
    border-top: 0px;
     }
   
     .he :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
       padding-bottom: 15px;
       padding-left: 35px;
       padding-right: 60px;
   
     }
     nav .activi {
  
      margin-left: 75px;
     }
       }
  
  
               /*ajustement barre activité Galaxy fold / PAYSAGE */
  
    @media only screen and (width: 653px)  and (orientation: landscape) {
  
      
  
      .activi :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .activi a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 113px;
       padding-right: 110px;
       margin-left: -100px;
   
  
    
     }
   
     
     .activi :hover {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      border-top: 0px;
       padding-bottom: 15px;
       padding-left: 113px;
       padding-right: 110px;
     }
   
     .activi :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
     }
     
   
     .he :visited {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 46px;
       padding-right: 65px;
     }
   
     .he a {
       color: black;
       border-bottom: 4px solid #f2f2f2;
       padding-bottom: 15px;
       padding-left: 80px;
       padding-right:80px;
       margin-left: -120px;
     }
   
     .he :hover {
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      color: #0065fc;
       padding-bottom: 15px;
       padding-left: 80px;
       padding-right:80px;
    border-top: 0px;
     }
   
     .he :active {
       color: #0065fc;
       border-bottom: 4px solid #0065fc;
       padding-bottom: 15px;
      
       padding-bottom: 15px;
       padding-left: 35px;
       padding-right: 60px;
   
     }
     nav .activi {
  
      margin-left: 75px;
     }
       }
  
    
  