/*  MEDIA RESPONSIBLE PHONE PORTRAIT */




@media only screen and (max-width: 0px) and (orientation: portrait)  {
    body {


       
    }
    
    
    .grid-container {
        display: grid;
        grid-template-columns: 0% 33% 33% 33% 0%;
        
    }

        
    nav {
    
        border-top: 0px;  
        border-bottom: 0px;
                            
                                        }
    nav .inscrire  {
        font-size: 17px;
        grid-column: 1/3;
        grid-row: 1;
        margin-top: -78px;
        margin-left: 70px;
        border-top: 0px;
        font-weight: bold;
        font-family: "relaway",sans-serif;
        
      }  

   
    
    .logo img {
        width: auto;
        height: 50px;
        margin-left: -40px;
        margin-top: -10px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
      
  
          
      
     
      .inscrire :visited {
    
        border-top: 0px;
        border-bottom: 0px;
    
      }
    
      .inscrire :active {
    
        border-top: 0px;
    
      }
    
      .inscrire :hover {
    
        border-top: 0px;
        border-bottom: 0px;
    
      }
    
    
      nav .he {
        font-weight: bold;
       font-family: "Raleway",sans-serif;
       font-size: 17px;
        margin-top: 65px;
        grid-column: 1/3;
        grid-row: 2;
        margin-left: -170px;
        border-bottom: 0px;
       
            }
    
    .activi a  {
    color: black;   
    text-decoration: none;  
    border-bottom: 4px solid #0065FC ; 
    padding-bottom: 5px;  
    border-top: 0px;            
               }
            
    .activi :hover {
    color:  #0065FC;  
    border-bottom: 4px solid #0065FC ; 
    padding-bottom: 5px;
    border-top: 0px;  
    border-bottom: 0px;
                    }
    
                    .activi :visited {
                        color:  #0065FC;  
                        border-bottom: 4px solid #0065FC ; 
                        padding-bottom: 5px;
                        border-top: 0px;  
                        border-bottom: 0px;
                                        }

            
    .he :visited {
    color:  #0065FC;  
    border-bottom: 0px;
    
    }
    
    .he a  {
    color: black;   
    text-decoration: none;  
    border-bottom: 4px solid #0065FC ; 
    padding-bottom: 9px;  
    border-top: 0px;  
    border-bottom: 0px;         
    }
                        
    .he :hover {
    color:  #0065FC;  
    border-bottom: 4px solid #0065FC ; 
    padding-bottom: 5px;
    border-top: 0px;
               }
                        
                                 
    nav .activi  {
        font-size: 17px;
        grid-column: 1/3;
        grid-row: 2;
        margin-left: 40px;
        margin-top: 62px;
       
        
               } 
    
    .activi a  {
    color: black;   
    text-decoration: none;  
    border-bottom: 4px solid #0065FC ; 
    padding-bottom: 5px;  border-bottom: 0px;            
                 }
            
    .activi :hover {
    color:  #0065FC;  
     border-bottom: 4px solid #0065FC ; 
    padding-bottom: 5px;
                     }
            
     .activi :visited {
      color:  #0065FC;  
                    }
    

                    .grid-recherches    {
                        
                        text-align: left;
                      
                     
                       margin-top: 0px;
                               
                                           }

 h1 {
                                            font-size: 25px;
                                            font-weight: bold;
                                            font-family: "relaway", sans-serif;
                                        }

.grid-recherches h2   {
                        
                                            text-align: left;
                                            font-family: "relaway", sans-serif;
                                         
                                           font-size: 17.5px;
                                                   
                                                               }

                                           .grid-recherches2 li  {
                                            display: flex;
                                            
                                            }
                                            
                                           
                                            
                                            #textfil {
                                            
                                            
                                            
                                            }
                                            
                                            #filtre {
                                            font-size: 20px;
                                        
                                           
                                             
                                            background-color: white;               
                                            } 

                                            #mon   {
                                                width: 45%;
                                                height: 40px;
                                                margin-top: 40px;
                                                margin-left: -110px;
                                                padding-top: 10px;
                                                
                                                }
                                                
                                                #fam   {
                                                width: 35%;
                                                height: 40px;
                                                margin-top: -55px;
                                                margin-left: 185px;
                                                padding-top: 10px;
                                                }
                                                
                                                
                                                #coeur   {
                                                width: 55%;
                                                height: 40px;
                                                margin-left: 10px;
                                                padding-top: 10px;
                                                margin-top: 10px;
                                                }
                                                #dog  {
                                                width: 65%;
                                                height: 40px;
                                                margin-left: 10px;
                                                padding-top: 10px;
                                                margin-top: 10px;
                                                    }

.grid-recherches3 {

    display: grid;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    color: black;
    font-weight: 800;
    line-height: 1;
    margin-top: 10px;


}  








/* SECTION LES PLUS POPULAIRES */
.pop-class  {

width: 90%;
margin-left: 5px;

}

#pop{
    margin-top: auto;
width: 100%;
  

}

#pop2 {
margin-top: auto;
    width: 100%;
       
    
        
    }
#pop3{
    margin-top: auto;
        width: 100%;
           
        
         
        }
    
        .grid-populaire #pop2{
            width: 100%;
            
            
        }

/* CLASS POUR LA TAILLE DES ETOILE FIGURE + POP  */
.grid-populaire figure i  {
    font-size: 13px;
    
    }


    
/* CLASS POUR LA HAUTEUR DES ETOIELS CALQUES + POP  */
.grid-populaire  .decpop {
    margin-top: 25px;
    margin-left: 10px;
    
}

.grid-populaire .decpop2 {
    margin-top: 0px;
    margin-left: 10px;
    
}


.grid-populaire {
    grid-template-columns: 2/5;
    
    width: 100%;
    display: flex;
    background: #f2f2f2;
    border-radius: 0em;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-top: 30px;
    padding-bottom: 30px;
 
}

.grid-populaire figure figcaption {

    
   
    height: 124px;
    border: 8px solid white;
    box-shadow: 0px 15px 45px #555;
   
}

.grid-populaire img {
    height: 130px;
    border-radius: 0.7em;
    border-radius: 25px 0px 0px 25px;
    border: 5px solid white;
    box-shadow: 0px 15px 25px #555;
}


.grid-populaire figure {
    display: flex;
    flex-direction: row;
    height: 150px;
margin-left: 0px;

}


.titre{
  
    font-family: "relaway",sans-serif;
    font-weight: bold;
    margin-left: 20px;
    font-size: 25px;
}


.grid-populaire  .fa-chart-line {

margin-left: 50px;

}



/* SECTION HEBERGEMENT */
.section-hebergement {

    
    flex-direction: column-reverse;

   
    width: 100%;
   
}




.grid-hebergement {
    background: white;
    border-radius: 0.7em;
    
    width: 84%;
    display: flex;
    
    flex-direction: column;

  
    
}

.grid-hebergement .titre {

width: 100%;

}

.grid-hebergement figure img {
    height: 130px;
    width: 100%;
 
    
}

.heb-class {
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 15px 25px #555;
    border: 3px solid white;
    border-radius: 25px 25px 25px 25px;
  
   
    
}

.titrea {

    width: 100%;
    
    font-family: "relaway", sans-serif;
}




.rech1 {
    display: none;
}

.recha {
    display: inline;
    padding: 10px 10px 10px 10px ;
    color: white ;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    background-color: #0065FC;
}

.recha i {
    display: inline;

    color: white ;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;

}

/* SECTION ACTIVITE */
#marsact  {

    font-family: "relaway", sans-serif;
 
margin-left: 0px;
}

.section-activite {

width: 96%;


}
.grid-activite  {
    grid-column: 1/3;
    grid-row: 10;
    width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;


  }

#act  {
    margin-left: 10px;
    grid-column: 1/3;
    grid-row: 10;
    height: 00px;

    margin-top: 30px;
    width: 100%;
                        }

.grid-activite  #act figure  {
    grid-column: 1/3;
    grid-row: 11;  
    box-shadow: 0px 15px 25px  #555; 
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    height: 220px; 
    width: 100%;
}

.grid-activite  #act img {
    grid-column: 1/3;
    grid-row: 11;
    height: 160px;
    width: 100%;
                        }

#act2  {
     margin-left: 10px;
     grid-column: 1/3;
     grid-row: 11;
     height: 00px;
     
     width: 100%;
     margin-top: 260px;
                      }
                        
.grid-activite  #act2 figure  {
    grid-column: 1/3;
    grid-row: 11;  
    box-shadow: 0px 15px 25px  #555; 
    border-radius: 0.7em;
    
    height: 220px;
                            }
                        
.grid-activite  #act2 img {
    grid-column: 1/3;
    grid-row: 11;
    height: 160px;
  
                       }
.grid-activite    #act3  {
    margin-left: 10px;
    grid-column: 1/3;
    grid-row: 12;
    height: 00px;
   
    width: 100%;
    margin-top: 260px;
                     }
                                                    
.grid-activite  #act3 figure  {
     grid-column: 1/3;
     grid-row: 12;  
     box-shadow: 0px 15px 25px  #555; 
     border-top-left-radius: 0.7em;
     border-top-right-radius: 0.7em;
     border-bottom-left-radius: 0.7em;
     border-bottom-right-radius: 0.7em;
     height: 220px;
                           }
                                                    
.grid-activite  #act3 img {
     grid-column: 1/3;
     grid-row: 12;
     height: 160px;
     margin-left: 0px ;
                      }
.grid-activite    #act4  {
    margin-left: 10px;
     grid-column: 1/3;
     grid-row: 13;
     height: 00px;
     
     width: 100%;
     margin-top: 260px;
     
     
                       }
                                                                                
.grid-activite  #act4 figure  {
    grid-column: 1/3;
    grid-row: 13;  
    box-shadow: 0px 15px 25px  #555; 
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    height: 220px;
    
    
    
                         }
                                                                                
.grid-activite  #act4 img {
    grid-column: 1/3;
    grid-row: 13;
    height: 160px;
    margin-left: 0px ;
   
    
                        }
                                                                                                                

                                                                                                            
.grid-activite    #act5  {
    margin-left: 10px;
    grid-column: 1/3;
    grid-row: 14;
    height: 00px;
    
    width: 100%;
    margin-top: 260px;
                    }
                                                                                                                                    
.grid-activite  #act5 figure  {
    grid-column: 1/3;
    grid-row: 14;  
    box-shadow: 0px 15px 25px  #555; 
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    height: 220px;
                        }
                                                                                                                                    
.grid-activite  #act5 img {
    grid-column: 1/3;
    grid-row: 14;
    height: 160px;
    margin-left: 0px ;
                         }
                                                                                                                                        
.grid-activite    #act6  {
    margin-left: 10px;
    grid-column: 1/3;
    grid-row: 15;
    height: 00px;
   
    width: 100%;
    margin-top: 260px;
                        }
                                                                                                                                                                
.grid-activite  #act6 figure  {
    grid-column: 1/3;
    grid-row: 15;  
    box-shadow: 0px 15px 25px  #555; 
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    height: 220px;
                                                                                                                                                                                                    }
                                                                                                                                                                
.grid-activite  #act6 img {
        grid-column: 1/3;
        grid-row: 15;
        height: 160px;
        margin-left: 0px ;




}


.grid-footer {
    grid-column: 2/5;
    grid-row: 18;
    margin-top: 250px;
width: 100%;
display: flex;
flex-direction: column;
align-items: left;
}






}