/*  MEDIA 4K */
@media only screen and (min-width: 2560px)  and (orientation: landscape)  {
  
     

    .pop-class {

width: 100%;

    }

    .grid-populaire #pop2{
     width: 58%;
     
     
 }
    .decpop  {


    }

    .decpop2  {
margin-top: 0px;

    }

    .grid-activite {

width: 100%;


    }

 #marsact {

width: 150%;
     margin-left: 0px;
    
 }


.section-activite img {
max-height: 450px;


}




 }