
    

      
.grid-container {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 5px;
}

.grid-header {
  background: blue;
  text-align: center;
  border: black 5px solid;
  grid-column-start: 1; 
  grid-column-end: 6; 
  grid-row-start: 1; 
  grid-row-end: 3;
}




.grid-hebergement {
  background: grey;
  text-align: center;
  border: black 5px solid;
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 3; 
  grid-row-end: 3;
}
.grid-populaire {
    background:yellow;
    text-align: center;
    border: black 5px solid;
    grid-column-start: 4; 
    grid-column-end: 6; 
    grid-row-start: 3; 
  grid-row-end: 3;
  }  

  .grid-activite {
    background:rgb(11, 231, 29);
    text-align: center;
    border: black 5px solid;
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 4; 
  grid-row-end: 5;
  } 

  .grid-footer {
    background:rgb(247, 9, 9);
    text-align: center;
    border: black 5px solid;
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 5; 
  grid-row-end: 6;
  } 

  @media only screen and (min-width: 768px) {
	.grid-header {
  background: blue;
  text-align: center;
  border: black 5px solid;
  grid-column-start: 1; 
  grid-column-end: 6; 
  grid-row-start: 1; 
  grid-row-end: 3;
}

.grid-hebergement {
  background: grey;
  text-align: center;
  border: black 5px solid;
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 3; 
  grid-row-end: 3;
}
.grid-populaire {
    background:yellow;
    text-align: center;
    border: black 5px solid;
    grid-column-start: 4; 
    grid-column-end: 6; 
    grid-row-start: 3; 
  grid-row-end: 3;
  }  

  .grid-activite {
    background:rgb(11, 231, 29);
    text-align: center;
    border: black 5px solid;
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 4; 
  grid-row-end: 5;
  } 

  .grid-footer {
    background:rgb(247, 9, 9);
    text-align: center;
    border: black 5px solid;
    grid-column-start: 1; 
    grid-column-end: 6; 
    grid-row-start: 5; 
  grid-row-end: 6;
  } 



  

  @media only  screen and (max-width: 768px) {
 
    .grid-header {
        background: rgb(25, 189, 10);
        text-align: center;
        border: black 5px solid;
        grid-column-start: 1; 
        grid-column-end: 6; 
        grid-row-start: 1; 
        grid-row-end: 6;
      } 
    }

      @media only screen and (max-width: 791px) {
	
        .grid-header {
            background: rgb(247, 2, 2);
            text-align: center;
            border: black 5px solid;
            grid-column-start: 1; 
            grid-column-end: 6; 
            grid-row-start: 1; 
            grid-row-end: 6;
          }
    }
}