body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    width: 100%;
}

@font-face {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao7CFPrEHJA.woff2)
        format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
    font-size: 90px;
}

/*  CONTAINER POUR DEFINISSION DE CSS GRID   */
.grid-container {
    display: grid;
    grid-template-columns: 2% 32% 32% 32% 2%;
}

/*  HEADER   */

.grid-header {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-logo {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.logo img {
    width: auto;
    height: 30px;
    margin-left: -40px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

/*  NAV  */

.grid-navigation {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.2em;
    font-weight: 600;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

nav li {
    float: left;
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
}

.inscrire a {
    color: #0065fc;
    text-decoration: none;
}

.inscrire :hover {
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding-top: 20px;
}

.inscrire :visited {
    color: #0065fc;
}

.activi a {
    color: black;
    text-decoration: none;
}

.activi :hover {
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding-top: 20px;
}

.activi :visited {
    color: black;
}
.activi :active {
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding-top: 20px;
}

.he a {
    color: black;
    text-decoration: none;
}

.he :hover {
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding-top: 20px;
}

.he :visited {
    color: black;
}

.he :active {
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding-top: 20px;
}

/*  SECTION RECHERCHER  */

.grid-recherches {
    display: grid;
    margin-top: -50px;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: -25px;
}

.grid-recherches1 {
    display: grid;
    line-height: 6;
    align-content: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    height: 50px;
}

/*  BOUTON SECTION RECHERCHER    */

.rech {
    width: 200px;
    height: 37px;
    border: none;
}

.rech1 {
    color: white;
    background-color: #0065fc;
    border-bottom-right-radius: 0.9em;
    border-top-right-radius: 0.9em;
    width: 120px;
    height: 40px;
}

/*  CLASS POUR LES FILTRES DE LA SECTION RECHERCHE  */
.grid-recherches2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: -50px;
    margin-top: 15px;
}

.grid-recherches2 li {
    float: left;
    list-style: none;
    margin-right: 38px;
    font-weight: bold;
    border: #f2f2f2 solid 3px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-left: -20px;
}

.grid-recherches2 i {
    background-color: #deebff;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 1em;
    height: 20px;
    border-color: #f2f2f2;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.money i {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 1.3em;
    height: 20px;
}

.famille i {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 1em;
    height: 20px;
    padding-left: 10px;
}

.coeur i {
}
.dog i {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 1em;
    height: 20px;
    padding-left: 5px;
}

.grid-recherches2 a:link {
    text-decoration: none;
    color: black;
}

.grid-recherches2 a:visited {
    text-decoration: none;
    color: black;
}

.filtresu:hover {
    background-color: #deebff;
    font-weight: bold;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

#textefil                                                   /*  ENLEVE LES STYLES DU TEXTE DEVANT LE TEXTE  "FILTRES : "*/ {
    border: none;
    margin-left: 10px;
    margin-top: 5px;
    color: black;
}
/*  BANNIERE D'INFORMATION DES LOGEMENTS DISPONIBLES*/
.grid-recherches3 {
    display: grid;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    color: black;
    font-weight: 800;
    line-height: 3;
    margin-top: -15px;
}

.grid-recherches3 i {
    margin-right: 10px;
    background-color: #deebff;
    width: 1em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    text-align: center;
    border-color: #f2f2f2;
    border-style: double;
}
/*  FONT DE LA PARTIE FILTRE */
#filtre {
    font-weight: 600;
    margin-top: 2px;
}

/*  ICONES  */
.fas {
    font-size: 20px;
    color: #0065fc;
}

.noir {
    color: #858282;
}

.fa-map-marker-alt {
    color: black;
    background-color: rgb(211, 204, 204);
    text-align: center;
    border-bottom-left-radius: 0.7em;
    border-top-left-radius: 0.7em;
    width: 2.3em;
    height: 1.5em;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
}


/*  SECTION HEBERGEMENTS  */

.section-hebergement {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    line-height: 1.4;
}

.grid-hebergement figure:hover {
    margin-top: -20px;
}

.grid-hebergement {
    background: #f2f2f2;
    border-radius: 0.7em;
    margin-right: 40px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
}
  /*PARAGRAPHE DEFINIT LES SOUS TITRES    */
p{
margin-left: 10px;
font-family: "relaway", sans-serif;
}

.titre{
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: "relaway",sans-serif;
}

.titreheb {
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: "relaway",sans-serif;
}

.titrea{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 10px;
    
}


.fa-chart-line {
color: black;
display: inline;
margin-left: 200px;
margin-right: 20px;
}

/*  CALQUES DE LA SECTION  */

.heb-class {
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0px 15px 25px #555;
    border: 3px solid white;
    border-radius: 25px 25px 25px 25px;
    
    
}

.heb-class figure {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/*  FIGURES DE LA SECTION HEBERGEMENTS   */
.heb-class figure img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}


/*  EFFETS AUX SUVOLS DES IMAGES */



/* .grid-populaire figure:hover {
    margin-right: 30px;
    margin-left: 30px;
    
} */

/* SECTION LES PLUS POPULAIRES */
.pop-class  {




}
#pop2 h3 {

font-family: "relaway",sans-serif;
font-weight: bold;
padding-right: 30px;
}

.pop-encadrement  {
    
display: flex;
flex-direction: column;


}

.grid-populaire {
    width: 100%;
    
    background: #f2f2f2;
    border-radius: 0.7em;
    
   padding-bottom: 20px;
    
}



.grid-populaire figcaption {

    background-color: white;
    border: 5px solid white;
    border-radius: 0px 25px 25px 0px;
    height: 164px;
    border: 8px solid white;
    box-shadow: 0px 15px 45px #555;
}

.grid-populaire img {
    height: 170px;
    border-radius: 0.7em;
    border-radius: 25px 0px 0px 25px;
    border: 5px solid white;
    box-shadow: 0px 15px 25px #555;
}


.grid-populaire figure {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}

.nuit {

    margin-top: 30px;
}


/* SECTION ACTIVITES */
.section-activite {

display: grid;
text-align: center;
grid-column-start: 2;
grid-column-end: 5;
grid-row-start: 12;
grid-row-end: 17;
width: 100%;
display: flex;
justify-content: stretch;

}


.grid-activite {
    display: grid;
    
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 17;

}


.grid-activite figcaption {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.grid-activite #a img {
    height: 480px;
    width: 100%;
}

.grid-activite #a {
    height: 530px;
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}
.grid-activite #a img:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 10.7em;
    border-bottom-right-radius: 0em;
}
.grid-activite #b img {
    height: 220px;
    width: 100%;
}
.grid-activite #b {
    height: 180px;
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

.grid-activite #b img:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 10.7em;
    border-bottom-right-radius: 0em;
}

.grid-activite #c img {
    height: 160px;
    width: 100%;
}

.grid-activite #c {
    height: 205px;
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}
.grid-activite #c img:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 10.7em;
    border-bottom-right-radius: 0em;
}
.grid-activite #d img {
    height: 480px;
    width: 100%;
}

.grid-activite #d {
    height: 530px;
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}
.grid-activite #d img:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 10.7em;
    border-bottom-right-radius: 0em;
}
.grid-activite #e img {
    height: 180px;
    width: 100%;
}
.grid-activite #e {
    height: 240px;
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}
.grid-activite #e img:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 10.7em;
    border-bottom-right-radius: 0em;
}
.grid-activite #f img {
    height: 180px;
    width: 100%;
    
    
}
.grid-activite #f {
    height: 240px;
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    

}

.grid-activite #f img:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 10.7em;
    border-bottom-right-radius: 0em;
}

/*  CSS TITRE */
#marsact {
    margin-left: -170px;
    margin-top: 20px;
    font-family: "relaway",sans-serif;
    margin-bottom: -15px;
    
}
/*  CSS DES CALQUES [act(X)] QUI RECOIVENT LES FIGURES DE TAILLES VARIABLES*/
#act {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 12;
    grid-row-end: 12;
    box-shadow: 0px 15px 25px #555;
    width: 115%;
    height: 520px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    margin-top: 25px;
}
#act img {
    height: 470px;
    width: 100%;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

#act2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 12;
    box-shadow: 0px 15px 25px #555;
    margin-left: 40px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    width: 90%;
    height: 280px;
    margin-top: 25px;
    margin-left: 100px;
}

#act2 img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

#act3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 12;
    box-shadow: 0px 15px 25px #555;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    width: 90%;
    height: 193px;
    margin-top: 350px;
    margin-left: 100px;
}
#act3 img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0em;
}
#act4 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 12;
    width: 90%;
    height: 520px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    margin-top: 25px;
    box-shadow: 0px 15px 25px #555;
    margin-left: 100px;
}
#act4 img {
    height: 470px;
    width: 100%;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}
#act5 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 13;
    box-shadow: 0px 15px 25px #555;
    margin-left: 10px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    width: 80%;
    height: 230px;
    margin-top: 25px;
    margin-left: 105px;
}

#act5 img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

#act6 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 12;
    box-shadow: 0px 15px 25px #555;
    
    margin-top: 315px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    width: 80%;
    height: 230px;
    margin-left: 105px;
}

#act6 img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

/* FOOTER */

.grid-footer {
    display: grid;
    grid-column: 2/5;
    grid-row: 18;
    text-align: left;
    grid-column-start: ;
    grid-column-end: 5;
    grid-row-start: 18;
    grid-row-end: 22;
    background: #f2f2f2;
    margin-top: 30px;
    
    
}

.grid-footer a {
    text-decoration: none;
    color: black;
}

#liste1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 6;
}

#liste2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}
#liste3 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.grid-footer li {
    list-style: none;
}

/*  GENERIQUE */

ul {
    list-style: none;
    display: inline-block;
}

.grid-recherches1 ::placeholder {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
h1 {
    font-size: 32px;
}

h2 {
    font-size: 12px;
    margin-top: -0px;
    font-weight: bold;
    color: #494848;
}

h3 {
  width: 80%;
 
    margin-bottom: -15px;
    margin-top: 2px;
    margin-left: 10px;

    font-family: "relaway",sans-serif;
    font-weight: bold;
    font-size: 18px;
  
}

h4 {
    font-size: 16px;
    line-height: 0.5;
    margin-top: 4px;
    font-family: relaway;
    font-weight: 100;
    margin-bottom: 9px;
    margin-left: 10px;
}


h5 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 12px;
    font-weight: bold;
}

h6 {
    line-height: 0.3;
    font-weight: bold;
    font-size: 12px;
}
/*  Class pour centrer les étoiles  */
.dec {
    margin-left: 8px;
    margin-top: -12px;
}
 
.decpop {
    margin-top: 55px;
    margin-left: 10px;
}

.decpop2 {
    margin-top: 55px;
    margin-left: 10px;
    
}
/* BOUTON LOUPE POUR LA VERSION IPHONE / DISPLAY NONE  */
.recha {
    display: none;
}

/*  Breackpoint  */









    





    

  


    
        