body                                                {
                                                    background-color: white;
                                                    font-family: Raleway ;
                                                    
                                                    }

@font-face                                          {
                                                        font-family: 'Raleway';
                                                        font-style: normal;
                                                        font-weight: 100;
                                                        font-display: swap;
                                                        src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao7CFPrEHJA.woff2) format('woff2');
                                                        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
                                                        font-size: 90px  ;
                                                        
                                                    }  
                                                 
                                                    

                                                     /*  CONTAINER POUR DEFINISSION DE CSS GRID   */   
.grid-container {
    display: grid;
    grid-template-rows: 100px  ;
    grid-template-columns: 2% 31% 31% 31% 2%;
    
    
    max-width: 2000px;
    max-height: 768px;
    
  }
                                                    /*  HEADER   */ 

                                                    .grid-header

                                                    {
                                                    
                                                     display: grid;
                                                    grid-column-start:1 ; 
                                                    grid-column-end: 5; 
                                                    grid-row-start: 1; 
                                                    grid-row-end: 1;
                                                    }


.grid-logo                                          {
                                                        display: grid;
                                                        text-align: left;
                                                        
                                                        grid-column-start: 2; 
                                                        grid-column-end: 3; 
                                                        grid-row-start: 1; 
                                                        grid-row-end: 1;
                                                        width: auto;
                                                        height: 30px;
                                                    
                                                    }


  .logo img                                         {
                                                    width: auto;
                                                   height: 30px;
                                                   
                                                    }


                                                    /*  NAV  */

.grid-navigation                                    {
                                                    display: grid;
                                                    justify-content: right;
                                                    font-size: 1.2em;
                                                    font-weight: 900;
                                                    grid-column-start: 5; 
                                                    grid-column-end: 5; 
                                                    grid-row-start: 1; 
                                                    grid-row-end: 1;
                                                   
                                                    
                                                   
                                                    
                                                   
                                                    }



nav li                                              {

                                                

                                                    
                                                    float:left;   
                                                     /*width:10em; */
                                                    
                                                    text-decoration:none;
                                                    
                                                    list-style: none;
                                                    margin-right: 25px;
                                                    
                                                    }

nav li :hover                                       {
    
                                                        border-top: 4px solid #0065FC ;
                                                        padding-top: 20px;
                                                        text-decoration: none ;
                                                        
                                                    }
                                                    







                                              /*  SECTION RECHERCHE  */ 

.grid-recherches                                    {
                                                    display: grid;
                                                    margin-top: -50px;
                                                    text-align: left;
                                                    
                                                    grid-column-start: 2; 
                                                    grid-column-end: 5; 
                                                    grid-row-start: 2; 
                                                    grid-row-end: 2;
                                                    
                                                    }  


                                                    
 .grid-recherches1                                    {
                                                        display: grid;
                                                       
                                                        line-height: 6;
                                                        align-content: center;
                                                        grid-column-start: 2; 
                                                        grid-column-end: 5; 
                                                        grid-row-start: 3; 
                                                        grid-row-end: 3;
                                                        height: 50px;
                                                        
                                                        }

                                                                                                        /*  BOUTON RECHERCHE  */

.rech                                               {
    width: 200px;
    height: 37px;
    border: none;
    
    }
    
.rech1                                              {
    color: white;
    background-color: #0065FC;
    border-bottom-right-radius: 0.9em;
    border-top-right-radius: 0.9em;
    width: 120px;
    height: 40px;
    }


                                                                     /*  LES FILTRES  */ 
.grid-recherches2                                    {
                                                            display: grid;
                                                            
                                                            
                                                            line-height: 2;
                                                           
                                                            grid-column-start: 1; 
                                                            grid-column-end: 5; 
                                                            grid-row-start: 4; 
                                                            grid-row-end: 4;
                                                            
                                                            }
                                                            
.grid-recherches2 li                                  {
    
                                                                float: left;
                                                                list-style: none;
                                                                margin-right: 38px;
                                                                
                                                                font-weight: bold;
                                                             border:#F2F2F2 solid 3px;
                                                             border-top-left-radius: 0.9em;
                                                            border-top-right-radius: 0.9em;
                                                            border-bottom-left-radius: 0.9em;
                                                            border-bottom-right-radius: 0.9em;
                                                            
                                                                 }   
.grid-recherches2 i                                         {
                                                            margin-right: 10px;
background-color: #ffeede;
                                                            border-top-left-radius: 0.7em;
                                                            border-top-right-radius: 0.7em;
                                                            border-bottom-left-radius: 0.7em;
                                                            border-bottom-right-radius: 0.7em;

                                                            width:1em;  
                                                            height:1em;                                             
                                                            
                                                

                                                            
border-color: #F2F2F2;
border-style:double;


                                                            }  
          /*  ENLEVE LES STYLES DU TEXTE DEVANT LES FILTRES*/                                                   
#textefil  
{


border: none;

margin-left: 10px;
margin-top: 5px;
color:black ;
 

}

.filtresu:hover {

background-color: #DEEBFF;
font-weight: bold;
border-top-left-radius: 0.7em;

                                                            border-top-right-radius: 0.7em;
                                                            border-bottom-left-radius: 0.7em;
                                                            border-bottom-right-radius: 0.7em;
}

.grid-recherches3                                   {
                                                                display: grid;
                                                                
                                                                text-align: left;
                                                               
                                                                grid-column-start: 2; 
                                                                grid-column-end: 5; 
                                                                grid-row-start: 5; 
                                                                grid-row-end: 5;
                                                                color:black ;
                                                                font-weight: 800;
                                                                
                                                                line-height: 4;
                                                                }  
.grid-recherches3 i   {
    margin-right: 10px;
background-color: #DEEBFF;
width :1em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;

    text-align: center;
    


    
border-color: #F2F2F2;
border-style:double;


    }  
                                                             /*  FONT DE LA PARTIE FILTRE */
#filtre  {

font-weight: 600;
margin-top: 2px;

}



                                            /*  ICONES  */
.fas                                                {
                                                    font-size: 20px;
                                                    color: #0065FC;
                                                    
                                                    }

 /* .far {

color : #666565;
font-size :  20px;
 }  */

 .noir {
    color: #858282;
    }



 .etoile {
font-style: none;
color: none;

 }

.fa-map-marker-alt                            {
                                                    color:black; 
                                                    background-color: rgb(211, 204, 204);
                                                    text-align: center;
                                                    border-bottom-left-radius: 0.7em;
                                                    border-top-left-radius: 0.7em;
                                                    width: 2.3em;
                                                    height: 1.5em;
                                                    padding-top:0.4em;
                                                  padding-bottom: 0.1em;
                                                    }
  







                                                     /*  HEBERGEMENTS  */

.grid-hebergement                                   {
                                                    display: grid;
                                                    background: grey;
                                                    margin-right: 35px;
                                                   

                                                    background: #F2F2F2;
                                                    border-top-left-radius: 0.7em;
                                                    border-top-right-radius: 0.7em;
                                                    border-bottom-left-radius: 0.7em;
                                                    border-bottom-right-radius: 0.7em;
                                          
                                                   

                                                    grid-column-start: 2; 
                                                    grid-column-end: 4; 
                                                    grid-row-start: 6; 
                                                    grid-row-end: 12;
                                                    
                                                    }

.grid-hebergement figure {

                                                        display: ;
                                                       /* -webkit-margin-before: 1em;
                                                        -webkit-margin-after: 1em;
                                                        -webkit-margin-start: 1em;
                                                        -webkit-margin-end: 1em;  */
                                                        width : 100%;
                                                        max-height: 150px;
                                                        padding-bottom: 170px ;
                                                        margin-bottom: -100px;
                                                        
                                                           /*  le calque qui recoit limage balise figure   */
                                                        
                                                        }                                                
                                                            
                                                    /*  IMAGES HEBERGEMENTS   */
.grid-hebergement figure img                               {
                                                        width: 95%;
                                                        height: 100%;
                                                        border-radius: 25px 25px 0px 0px;
                                                  margin-top: -10px;
                                                  margin-left: -31px;
                                                  
                                                  
                                                  
                                                /*  COMMENTAIRE : Définir width + margin left pour imbriquer les images dans le calque figure */
                                                    
                                          
                                                    
                                                    
                                                        }  



/*.grid-hebergement figcaption {

    background-color: white;
    border: 5px solid white;
   
    border-radius: 0px 0px 25px 25px;
    margin-top: -10px;
     width: 80%;
     height: 4em;
     
     
}
                                            /*  DEFINIT LES MARGES AUTOUR DE LA SECTION HEBERGEMENTS  */
#mar 
{
margin-left: 0px;
margin-right: 0px;
margin-top: 25px;
margin-bottom: 30px;

text-align: center;

}
  #heb                                          /*  /! \  voir si ce calque est toujours necessaire  */
  
{   grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 6; 
    grid-row-end: 6;
    display: grid;
    
    box-shadow: 0px 15px 25px  #555; 
    
   
  
    border-radius: 25px 25px 25px 25px;
   

margin-bottom: 49px;
   


    
                                                  
                              /*  Decalage vers la gauche de l'image  hebergemment dans le calque   */
}





#heb2
{   grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 6; 
    grid-row-end: 7;
    display: grid;
    width: 89%;
   
    box-shadow: 0px 15px 25px  #555; 
    background-color: white;
    margin-bottom: 49px;
    
  margin-left: 45px;
    border-radius: 25px 25px 25px 25px;
   
}
#heb3
{   grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 6; 
    grid-row-end: 7;
    display: grid;
    width: 75%;
    box-shadow: 0px 15px 25px  #555; 
    background-color: white;
    margin-bottom: 49px;
    
    margin-left: 45px;
    margin-right: 60px;
    border-radius: 25px 25px 25px 25px;
   
}
#heb4
{   grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 7; 
    grid-row-end: 8;
    display: grid;
    margin-bottom: 40px;
    box-shadow: 0px 15px 25px  #555; 
    background-color: white;
    
    margin-left : 0px;
    border-radius: 25px 25px 25px 25px;
   
}
#heb5
{   grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 7; 
    grid-row-end: 8;
    display: grid;
    margin-bottom: 40px;
    width: 89%;
    box-shadow: 0px 15px 25px  #555; 
    background-color: white;
    
    margin-left: 45px;
    
    border-radius: 25px 25px 25px 25px;
   
}
#heb6
{   grid-column-start: 3; 
    grid-column-end:3; 
    grid-row-start: 7; 
    grid-row-end: 7;
    display: grid;
    
    box-shadow: 0px 15px 25px  #555; 
    background-color: white;
    margin-left: 45px;
    margin-right: 60px;
    margin-bottom: 40px;
    border-radius: 25px 25px 25px 25px;
   
}

#plus
{   grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 11; 
    grid-row-end: 12;
    display: grid;
    margin-left: 40px;
    margin-top: -20px;
}

figure:hover figcaption {
    
    margin-bottom: 10px;
        margin-left : 10px;
        
        }
    
        figure:hover {
            
            
            margin-top : -15px;
            
            }

      /**
 * ZOOM IMAGE EFFECT ON HOVER // wpRock.fr
 */
.wprock-img-zoom-hover .wprock-img-zoom {
    overflow: hidden;
    position: relative; 
}
.wprock-img-zoom-hover .wprock-img-zoom img {
    max-width: 100%;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.wprock-img-zoom-hover .wprock-img-zoom * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wprock-img-zoom-hover:hover .wprock-img-zoom img {
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}                                                 


/*  Populaire  */     
                                                     /*  LES PLUS POPULAIRES  */                           
                                                                                
.grid-populaire                                     {
                                                    display: grid;
                                                    background: #F2F2F2;
                                                    border-top-left-radius: 0.7em;
                                                    border-top-right-radius: 0.7em;
                                                    border-bottom-left-radius: 0.7em;
                                                    border-bottom-right-radius: 0.7em;
                                                    grid-column-start:4; 
                                                    grid-column-end: 4; 
                                                    grid-row-start: 6; 
                                                    grid-row-end: 12;
                                                    
                                                    
                                                    }  
.grid-populaire figcaption                               {

                                                        background-color: white;
                                                        border: 5px solid white;
                                                        border-radius: 0px 25px 25px 0px;
                                                        
                                                        width: 45%;
                                                        height: 9em;
                                                        position: relative;
                                                       border: 8px solid white;
                                                       left: 160px;
                                                       top:  -8px;
                                                       
                                                       box-shadow: 0px 15px 45px  #555;
                                                       
                                                    }




.grid-populaire img                                 {
             margin-top: -8px;          
    width: 10em;
    height: 150px;
    border-top-left-radius: 0.7em;
                                                    border-top-right-radius: 0.7em;
                                                    border-bottom-left-radius: 0.7em;
                                                    border-bottom-right-radius: 0.7em;

                                                    border-radius: 25px 0px 0px 25px;
                                                  position: absolute;
                                                    border: 5px solid white;
                                                    
                                                    box-shadow: 0px 15px 25px  #555; 
                                                    
                                                        }
 
                                            /*  marge du titre plus populaire  */   
#pluspo {

margin-top: 20px;
margin left: 20px;

text-align: center;
}


#pop
{   grid-column-start: 1; 
    grid-column-end:5; 
    grid-row-start: 2; 
    grid-row-end: 2;


    
}

#pop2
{   grid-column-start: 1; 
    grid-column-end:5; 
    grid-row-start: 3; 
    grid-row-end: 3;
  
}

#pop3
{   grid-column-start: 1; 
    grid-column-end:5; 
    grid-row-start: 4; 
    grid-row-end: 4;
 ;
}
                                                                                  
                                                     /* ACTIVITES */

.grid-activite                                      {
                                                    display: grid;
                                                    
                                                    text-align: center;
                                                    
                                                    grid-column-start: 2; 
                                                    grid-column-end: 6; 
                                                    grid-row-start: 12; 
                                                    grid-row-end: 17;
                                                    
                                                    
                                                     } 
.grid-activite figcaption                               {

                                                        background-color: white;
                                                        border: 5px solid white;
                                                        border-radius: 0px 0px 25px 25px;
                                                        margin-top: -10px;
                                                        width: 100%;
                                                         margin-top: 5px ;
                                                        display: inline-block;
                                                    }




.grid-activite img                               {
    width: 300px;
    height: 150px;
                                                        border-top-left-radius: 0.7em;
                                                        border-top-right-radius: 0.7em;
                                                        border-bottom-left-radius: 0.7em;
                                                        border-bottom-right-radius: 0.7em;
                                                        border-radius: 25px 25px 0px 0px;
                                                        border: 5px solid white;
                                                        }  

                                                       
                                                        
                                                           
                                                        .verticale {

                                                            height: 100%;
                                                        width: 100%;
                                                        
                                                        
                                                            
                                                        }

                                                        .verticale img {
                                                            
                                                        height: 100%;
                                                        width: 100%;

}

#marsact {


margin-left: -80px;
}

#act
{   grid-column-start: 1; 
    grid-column-end:1; 
    grid-row-start: 12; 
    grid-row-end: 14;
    display: grid;
}
#act2
{   grid-column-start: 2; 
    grid-column-end:2; 
    grid-row-start: 12; 
    grid-row-end: 12;
    display: grid;
}

#act3
{   grid-column-start: 2; 
    grid-column-end:2; 
    grid-row-start: 13; 
    grid-row-end: 13;
    display: grid;
}

#act4
{   grid-column-start: 3; 
    grid-column-end:3; 
    grid-row-start: 12; 
    grid-row-end: 14;
    display: grid;
}

#act5
{   grid-column-start: 4; 
    grid-column-end:4; 
    grid-row-start: 12; 
    grid-row-end: 13;
    display: grid;
}

#act6
{   grid-column-start: 4; 
    grid-column-end:4; 
    grid-row-start: 13; 
    grid-row-end: 14;
    display: grid;
}
   
                                                        


    /* FOOTER */                                               

#liste1 {
    display: grid;
    grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 1; 
    grid-row-end: 6;
    
}


}
#liste2 {
    display: grid;
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 6;


    
}
#liste3 {
    display: grid;
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 6;


    
}

 
 .grid-footer                                        {
    display: grid;
    
    text-align: left;
    
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 18; 
    grid-row-end: 22;
    
  
    background: #F2F2F2;
 
        
    } 

 .grid-footer li {


    list-style: none ;  
 }                                                    
 

    }

                                            /*  GENERIQUE */ 

    ul {

        list-style: none;
        display: inline-block;
    }

    h1 {                                            /* ...... / ! \ voir le h1 définit à 80 % ......... */ 

        width: 80% ;                    
        font-size: 32px;
        
        margin-bottom: 1px;
        }
        
        
        h2 {
        
            font-size: 12px;
            margin-top: -0px;
        
        color: #494848;
        }
        
        
        h3
        {
            
            width: 80%;
            font-size: 18px;
           margin-bottom: -15px; 
           margin-top: 2px;
        
        }
    
        h4
        {
            
          
          font-size: 18px; 
          font-weight: 700;
        }
        
        h5
        {
          
            font-size: 18px;
           margin-bottom: 15px;
           margin-top: 12px;
           font-weight: 900;
          
        }
        
        h6
        {
            
            font-weight: 700;
          
        
        
        }  


        


           a:link 
{ 
 text-decoration:none; 
 color: black;
} 
a:visited 

{
color: #0065FC;


}


 /*  Breackpoint  */ 
 

      @media (max-width: 768px) {
     

        .wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 100px;
            grid-gap: 10px;
            background-color: brown;
          }
          .wrapper div:nth-child(1) {
            grid-column: 1;
            grid-row: 1 / 1;
            background-color: burlywood;
          }
          .wrapper div:nth-child(2) {
            grid-column: 3;
            grid-row: 2 / 4;
            background-color: burlywood;
          }
          .wrapper div:nth-child(3) {
            grid-column: 3;
            grid-row: 2 / 4;
            background-color: chartreuse;
          }
          .wrapper div:nth-child(4) {
            grid-column: 3;
            grid-row: 2 / 4;
            background-color: darkgoldenrod;
          }
          .wrapper div:nth-child(5) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: darkgreen;
          }
          .wrapper div:nth-child(6) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: deeppink;
          }
          .wrapper div:nth-child(7) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: fuchsia;
          }
          .wrapper div:nth-child(8) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: gold;
          }
          .wrapper div:nth-child(8) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color:indigo;
          }
          .wrapper div:nth-child(9) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color:rgb(233, 95, 15);
          }
          .wrapper div:nth-child(10) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color:rgb(250, 9, 9);
          }
          .wrapper div:nth-child(11) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: lawngreen;
          }
          .wrapper div:nth-child(12) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: rgb(60, 28, 241);
          }
          .wrapper div:nth-child(13) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: rgb(60, 28, 241);
          }
          .wrapper div:nth-child(14) {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            background-color: rgb(60, 28, 241);
          }

      }

@media only screen and (max-width: 1024px) {
	
    

